 .save_post {
    padding: 4px 24px;
    font-size: 16px;
    background-color: #69C729;
    color: #fff;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s ease;
	background-color:#69C729;
	border: 0;
}
.file_post_select_text{
background: #eff1f3;
margin: 0px;
text-align: center;
font-size: 12px;	
color:green;
	
}
.note{
font-size: 13px;
line-height: 18px;
margin-top: 30px;
font-style: italic;
}

.like_unlike{
	color: #69C729;
}
.nav-myaccount .dropdown-menu{
	width:auto;
}


.postthum a img{
	width:80px;
	height:80px;
}
.thumb_post img,.comment_thumb img{
  border-radius:68px;
}
/* People you may know  */
.people_you_thumb{
  text-transform: uppercase;
  align-items:center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  font-size: 16px;
  padding: 5px;
  vertical-align: middle;
  background-color: #000;
}
.people_you_thumb a {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
  width:max-content;
  font-style: normal;
  margin: 0 auto;
}

.subscribe_you_thumb{
  text-transform: uppercase;
  align-items:center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-flex;
  font-size: 16px;
  padding: 5px;
  vertical-align: middle;
  background-color: #000;
  margin-bottom: -50px;
border: 4px solid #fff;
box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
}
.subscribe_you_thumb a {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
  width:max-content;
  font-style: normal;
  margin: 0 auto;
}


/* Modal upload banner and profile */ 
.upload_photo_modal .header-cont,.upload_banner_modal .header-cont{
	background-color: #69C729;
    text-align: center;
    padding: 20px 0;
}

.upload_photo_modal .header-cont span,.upload_banner_modal .header-cont span{
	color: #fff;
	font-size: 21px;
	font-weight: bold;
}
.upload_photo_modal .close,.upload_banner_modal .close{

margin: -57px 10px 0px 0;
border: 2px solid #000;
padding: 6px 6px;
border-radius: 50%;
line-height: 11px;
}
.upload_photo_modal .mod-content1 a ,.upload_banner_modal .mod-content1 a {
    padding: 6px 10px;
    background-color: #60b924;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    border-radius: 2px;
}

/* tip Modal */

.tipModal input{
width: 100%;
padding: 8px 20px;
margin: 8px 0;
    margin-top: 8px;
box-sizing: border-box;
border: 1px solid #ccc aliceblue;
margin-top: 22px;
	
}
.tipModal .md-header .close {
    margin: 0px -7px 0px 0;
    border: 2px solid #000;
    padding: 6px 6px;
    border-radius: 50%;
    line-height: 11px;
}

.post_button {
    right: -14px;
    position: relative;
    top: 21px;
	text-align:right;
}
.reply {
	margin-bottom:6px;
}
.border_error{
	border:1px solid red  !important;
}

.notfound{
	color:red;
	text-align:center;
	font-size:18px;
}
.profile-box .thum a img,#subscribers a img,#subscribed a img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
}

.footer_nav ul li.active a{
color: #69C729;
}

.remove i:hover {
    cursor: pointer;
}
.customAdjust{
	bottom: 25px;
	position: absolute;
}
.global_settings h5{
	background: #145388;
	padding: 5px;
	color: #fff;
}
.error,.editable-error-block{
	color:red;
	font-size:11px;
}

.errors{
	color:red;
	font-size:11px;
}
.margin_bottom{
	margin-bottom:8px !important;
}
.error_margin{
  margin:0px 0 4px 0px;
  text-align:left;
  font-size:11px;
}
.frm_class .labelcls{
	margin-bottom:.0rem !important;
}

.uppercase_button{
	text-transform:uppercase;
}
.modal-dialog .social_box_div.form-row .col-md-6 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
}

/*Account Page Error Class */


.hide {
    display: none;
}
.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.name-circle {
	
margin-left: 10px;
border-radius: 30px;
vertical-align: middle;
border-style: none;
background:#512DA8;
font-size: 18px;
font-weight: bold;
display: inline-block;
color:#fff;
line-height: 30px;
width:30px;
height:30px;
}

.alert-block button.close {
    font-size: 18px;
}
.alert-block {
    font-size: 12px;
}


.custom-comment .user {
    font-style: italic;
    color: #145388;
}

.custom-comment .time {
    font-size: 12px;
    color: #909090;
} 
.simple-icon-trash {
    color: red; 
}

.navbar #notificationDropdown{
	height:auto;
}

.navbar .header-icon#notificationButton .count1 {

    font-size: 9px;
    color: #fff;
    border: 1px solid red;
    border-radius: 10px;
    position: absolute;
    width: 18px;
    height: 15px;
    text-align: center;
    font-weight: 700;
    top: -4px;
    right: 2px;
    line-height: 14px;
	background-color:red;
}

.post-page-wrap .profile-box{
	margin-bottom: 0px;
}
.inputcls{
	margin-bottom: 10px;
}
.postcontentpublic{
	 font-weight: 400;
}
.add-user .fa-minus-circle {
    color: #ccc;
    font-size: 24px;
    transition: all 0.2s ease;
}
.user-area:hover .add-user .fa-minus-circle {
    color: #69c729;
}
.modal-header.confirm {
    padding-bottom: 14px;
}
.people_know_thumb_img img{
	width:40px;
	height:40px;
}
.header-cont1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
	color:#ffffff;
}
.modal-header.confirm .close {
    margin-top: -33px;
}
#myModalLabel {
    font-size: 14px;
}
.upload_input{
	width:220px;
}
.upload-image{
	background-color:#69C729;
	border:none;
	color:#ffffff;
}
.upload-image:hover{
	background-color:#47A507;
	border:none;
	color:#ffffff;
}
.profile_photo_modal {
    width: 600px !important;
    padding-top: 150px;
}
.upload_box{
	margin-top:20px;
}
.video{
 width:100%
}
.video-warapper{
	position:relative;
}
.video-warapper::before{
	position:absolute;
	content:" ";
	width:64px;
	height:64px;
	right:10px;
	bottom:50px;
}
.msg-count {
    left: 40px;
    position: absolute;
    color: #fff;
    font-size: 10px;
    background-color: #f40505;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    border-radius: 30px;
    top: 1px;
}
.noti-msg-count {
    left: 58px;
    position: absolute;
    color: #fff;
    font-size: 10px;
    background-color: #f40505;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    border-radius: 30px;
    top: 1px;
}

/* swipper */ 

.swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-wrapper {
   margin-bottom: 2em;  
   width: 73.8%;
}



.tooltip_share {
  position: relative;
  display: inline-block;
}
.tooltip_share .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color:#222;;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -96px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip_share .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip_share:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#country-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: 100%;
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
}
#country-list li{padding: 10px; background: #fff;
border-bottom: 1px solid #e7e7e7;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;width:100%}




#frmSearch {
	width: 280px;
	position: absolute;
	top: 100%;
	right: 0;
	margin: 0px auto;
	padding: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.35);
	background: #fff;
	border-radius: 0 0 5px 5px;
	opacity: 0;
	pointer-events: none;
	transition: all ease-in-out 0.5s;
	overflow: visible;
}
#search-box {
    border: 1px solid #ccc;
}
#frmSearch.search-bar-expanded {
	margin: 0px auto;
	padding: 10px;
	opacity: 1;
	pointer-events: auto;
}
.magnify{
color: #fff;
margin-top: 0px;
width: 40px;
height: 47px;
background: #52a618;
border: navajowhite;
border-radius: 4px;
}
.biotextarea{
border-bottom: 1px solid #ccc;
padding-left: 0px;
font-size: 14px;
-webkit-appearance: none;
-moz-appearance: none;
height: 50px;
display: block;
margin: 0 auto 30px;
padding: 0px;
padding-left: 0px;
padding-left: 0px;
border: none;
border-bottom-color: currentcolor;
border-bottom-style: none;
 border-bottom-width: medium;
border-bottom-color: currentcolor;
border-bottom-style: none;
border-bottom-width: medium;
border-bottom-width: medium;
border-bottom-style: none;
border-bottom-color: currentcolor;
border-bottom: 1px solid #9E9E9E;
border-bottom-color: rgb(158, 158, 158);
background-color: transparent;
width: 100%;
	
}
.about_user {
    padding: 10px 0;
    background: #00020E;
    color: #fff;
}
.about_user .morecontent a {
	color: #69C729;
}
.about_user span.aboutuser {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
    display: block;
}
.about_user span.aboutuser i {
    margin-right: 6px;
}
.user_bio.shortened {
    margin: 0;
}

.follow-navcont .col-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.follow-navcont .row::before, .follow-navcont .row::after {
    display: none;
}
.follow-navcont .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}





.img-notfound {
  background-color: #EFF1F3;
  text-align: center;
  padding: 60px 0;
  width: 100%;
  display: inline-block;
  margin-bottom: 60px;
}
.img-responsive img {
  text-align: center;
}
.img-notfound img {
  text-align: center;
  width: 150px;
  margin: 0px auto;
  padding-bottom: 20px;
}
.img-notfound h5 {
  font-size: 21px;
  color: #000;
}
.img-notfound a {
  background-color: #48AC00;
  font-size: 18px;
  color: #fff;
  padding: 14px 20px;
  border-radius: 40px;
  margin: 30px 0 0 0;
  display: inline-block;
  border: 2px solid #429D00;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.img-notfound a:hover {
  background-color: #45930D;
  text-decoration: none;
}
.vue-dropzone > .dz-preview .dz-remove {
    padding: 5px;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.dropzone .dz-preview {
    margin: 0;
}
.dropzone .dz-preview .dz-details .dz-size {
    font-size: 12px !important;
    margin-bottom: 5px !important;
    text-align: center;
}
.dropzone .dz-preview .dz-details .dz-filename {
    font-size: 12px;
    text-align: center;
}
.dropzone .dz-preview.dz-image-preview {
    margin: 0;
    padding: 5px;
    text-align: center;
}
.dropzone .dz-preview .dz-image img {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
}
.vue-dropzone.dropzone > .dz-preview .dz-remove {
    padding: 5px;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    max-width: 77px;
    left: 0;
    right: 0;
    font-size: 11px;
    line-height: normal;
}
.dropzone .dz-preview .dz-progress {
    margin-top: 0;
}
.navbar .container {
    padding-right: 68px;
	position: relative;
}
.reply_list_ul{
	
	margin-top:10px;
}
.reply_list_ul_li{
	
	margin-top:10px;
}


@media (min-width:768px) {
.search_box {
    margin-left: auto;
	position: relative;
}
}

@media (max-width:767px) {
.search_box {
	position: absolute;
	right: 65px;
	top: 15px;
	z-index: 999;
}	
#frmSearch {
	margin-top: 15px !important;
}

.dbd-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: auto;
	padding-bottom: 15px;
}
.dbd-nav > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
} 
.dbd-nav li {
    white-space: nowrap;
}
.dbd-nav .fa-angle-right {
margin-left:10px;  
margin-top:0;
}
	
.img-notfound img {
    width: 110px;
}
.img-notfound h5 {
    font-size: 16px;
    line-height: 30px;
}
.img-notfound a {
    font-size: 16px;
}
.img-notfound {
    padding: 60px 10px;
}
.navbar .container {
    padding-right: 15px;
}

.magnify {
    position: static;
    width: 40px;
    height: 35px;
}

#country-list {
    width: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.25);
    top: 100%;
}
#country-list li {
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
}
.post-page-wrap .search_box {
	display: none;
}
.main-container {
    margin-top: 100px;
}

body .main-container .dropzone {
    position: relative;
    margin-top: 50px;
    overflow: visible;
    max-height: 100%;
}
.dropzone .dz-message {
	position: absolute;
	background: #303030;
	color: #fff;
	padding: 5px 10px;
	top: 0;
	margin: 0;
	left: -1px;
	-webkit-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	        transform: translateY(-100%);
	font-size: 0;
	text-align: center;
}
.dz-default.dz-message::after {
	content: "Click/tap to add files";
	color: #fff;
	font-size: 13px;
	vertical-align: middle;
}
.dropzone.dz-started .dz-message {
    display: block !important;
}

.dropzone .dz-preview .dz-progress,
.dropzone .dz-preview .dz-details {
    display: none;
}
.navbar-header {
    position: relative;
}
}





@media (max-width:640px) {
.tooltip_share .tooltiptext {
    right: 0;
    left: auto;
    margin-left: 0;
    width: 150px;
    font-size: 14px;
}
#content {
	height: 68px;
}
}






@media (min-width: 37.5em) {
   .swiper-wrapper {
      width: 92%;
   }
}@media (min-width: 43.75em) {
   .swiper-wrapper {
      width: 95%;
   }
} 
@media(max-width:767px) {
	
	.video-responsive{
    display: block;
    max-width: 100%;
    height: auto;
     }
	 
   .profile_photo_modal {
    width: auto !important;
    }


}
	
	
 